FOOTBALL_DATA_API_KEY=***
FOOTBALL_DATA_BASE_URL=https://api.football-data.org/v4
JUVE_TEAM_ID=109
TIMEZONE=Europe/Rome
CRON_SECRET=change_me
APP_BASE_URL=http://localhost:3000
NEXT_PUBLIC_VAPID_PUBLIC_KEY=...
VAPID_PRIVATE_KEY=...
VAPID_SUBJECT=mailto:you@example.com
NEXT_PUBLIC_SUPABASE_URL=...
SUPABASE_SERVICE_ROLE_KEY=...
USE_MOCK_DATA=false

# stats provider: football-data | none | api-football
STATS_PROVIDER=football-data
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_KEY=
API_FOOTBALL_HOST=v3.football.api-sports.io
API_FOOTBALL_TEAM_ID=496
API_FOOTBALL_LEAGUE_ID=135
API_FOOTBALL_SEASON=2025